.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0; /* Remove padding on the left and right */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

  
  .header-logo {
    font-size: 24px;
  }
  
  .header-logo-text {
    font-weight: bold;
  }
  
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .header-nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .header-nav-item a:hover {
    color: #ff33e7; /* Change to your preferred highlight color */
  }
  